@charset "UTF-8";

@font-face {
    font-family: 'fonte-android';;
    src: url('fontes/idroid.otf') format(opentype);
}

@font-face {
    font-family: 'fonte_destaque';
    src: url('fontes/BebasNeue-Regular.ttf') format(truetype);
}

:root {
    --cor0: #0D556B;
    --cor1: #64CEEE;
    --cor2: #1CBAEB;
    --cor3: #2D5D6B;
    --cor4: #1793B8;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

body > header {
    background-image: linear-gradient(var(--cor1), var(--cor3));
    padding: 10px;
}

body > header > h1 {
    font-family: 'fonte-destaque';
}