@charset "UTF-8";

/* Todas as demais mídias */

/* Tipical Device Breakpoints
Pequenas telas: 600px
Celular: 601px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes Telas: Acima de 1200px
*/

@media print /*Impressão*/
{
    *
    {
        font-family: 'Courier New', Courier, monospace;
    }
    body
    {
        background-image: url(../imagens/back-print.jpg); /*Desnecessário*/
    }

    main
    {
        width: 90vw;
        border: 2px solid black;
    }

    main::after
    {
        content: 'Essa impressão foi feita pelo Diego Tendo como base o curso do Gustavo Guanabara (módulo 4 do curso de HTML e CSS';
        text-decoration: overline;
    }

    main h1
    {
        text-shadow: none;
        color: black;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}



@media screen and (min-width: 768px)
    {
        span#burger
            {
                display: none;
            }

        menu
            {
                display: block;
            }

        menu > ul > li
            {
                display: inline-block;
            }

        main
            {
                width: 768px;
            }
    }

